-# Expected locals:
-# good as Object

%li.good
  %h3.good__title
    %span.good__name= good.name
    %span.good__place_name= ", #{good.place.name}" if good.place

  .good__price
    = good.price

  .good__notes
    = good.notes

  .good__actions
    = link_to 'Edit', edit_good_path(good), class: 'decor_button--small'
    = link_to 'Delete', 'delete_good_path(good)', class: 'decor_button--small'
