- input_size_class = "input-xlarge"

.form_wrapper.form_place.well
  = form_for @place do |f|
    .control-group.input-prepend
      %i.add-on.icon-globe
      = f.text_field :name, placeholder: "Введите название места покупки...", class: input_size_class

    .control-group.input-prepend
      %i.add-on.icon-book
      = f.text_area :notes, placeholder: "Здесь можно ввести дополнительную информацию о месте покупки...",
                    rows: 3, cols: nil, class: input_size_class

    .actions.clearfix
      = f.submit "Сохранить", class: "btn btn-inverse btn-large pull-right"
      = f.button "Отмена", class: "btn btn-link btn-large pull-right", type: "reset"
